<ul class="media-list">
  <% microposts.each do |micropost| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, { size: 60 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
          
        </div>
        <!--<div>-->
         <%= micropost.content %>
        <!--</div>-->

        <div class="btn-toolbar">
          <%= render "favorites/favpost_button", target_micropost: micropost %>
          <% if current_user == micropost.user %>
            <%= link_to "", micropost, method: :delete, data: { confirm: "You sure?" }, style: "color:gray;",  class: "glyphicon  glyphicon-trash col-md-5", display:"inline-block" %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>